# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Sphinx docs
/docs/_build/ 